.destinations {
  // display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.destinations__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .destinations__title {
    font-size: 17px;
  }
}

.destinations__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .destinations__subtitle {
    font-size: 25px;
  }
}

.destinations__list {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
  overflow-x: auto;
}

@media screen and (max-width: 992px) {
  .destinations__list {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.destinations__item-1,
.destinations__item-2,
.destinations__item-3 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  // width: 180px;
}

@media screen and (max-width: 992px) {
  .destinations__item-1,
  .destinations__item-2,
  .destinations__item-3 {
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .destinations__item-1,
  .destinations__item-2,
  .destinations__item-3 {
    width: 285px;
  }
}

.destinations_img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 576px) {
  .destinations_img{
    max-height: 400px;
    max-width: 285px;
  }
}

.destinations__card-rating {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: rgba(255, 255, 255, 0.2); /* Белый с 20% непрозрачности */
  backdrop-filter: blur(6px);
  border-radius: 4px 0px 0px 4px;
  padding: 4px 8px;
}

.destinations__card-star {
  width: 16px;
  height: 16px;
  background: url(../../assets/img/star.png) no-repeat center / contain;
}

.destinations__card-value {
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 14px;
  color: var(--color-button);
}

.destinations__card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.2); /* Белый с 20% непрозрачности */
  backdrop-filter: blur(6px);
  border-radius: 0px 0px 32px 32px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .destinations__card-body {
    height: 70px;
  }
}

.destinations__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.destinations__card-title-wrapper  {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family: "NunitoSans-SemiBold", sans-serif;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .destinations__card-title-wrapper {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .destinations__card-title-wrapper  {
    font-size: 18px;
  }
}

.destinations__card-title-wrapper div {
  margin: 4px 0 0;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .destinations__card-title-wrapper div {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .destinations__card-title-wrapper div {
    display: none;
  }
}

.destinations__card-price {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 6px 14px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 992px) {
  .destinations__card-price {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .destinations__card-price {
    font-size: 16px;
  }
}

.destinations__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 200px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
}

@media screen and (max-width: 576px) {
  .destinations__button {
    font-size: 16px;
    width: 220px;
    height: 44px;
  }
}
