.destinations {
  //   display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}

.destinations__list {
    display: flex;
    column-gap: 20px;
    overflow-x: auto;
    // scroll-snap-type: x mandatory;
}

.destinations__card {
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    max-width: 380px;
    height: 500px;
    width: 100%;
    // scroll-snap-align: center;
}

.destinations__card-rating {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #FFFFFF40;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 7px 8px 7px 36px;
    font-family: var(--font-family-accent);
    color: var(--color-dark-grin);
    transition-duration: 1s;
    transition-property: right;
}

.destinations__card-body {
    position: absolute;
    bottom: calc(-100% + 90px);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-inline: 32px;
    background-color: var(--color-transparent-white);
    backdrop-filter: blur(6px);
    color: var(--color-light);
    transition-duration: 1s;
    transition-property: bottom;
}

.destinations__card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    white-space: nowrap;
}

.destinations__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
  text-align: center;
}

.destinations__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 50px;
  text-align: center;
}

.destinations__img {
  text-align: center;
  padding-bottom: 50px;
}

.destinations__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 200px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
}
