.experience {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  padding-bottom: 200px;
}

// .blog__header {

// }

.experience__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
  text-align: center;
}

.experience__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 40px;
  text-align: center;
}

.experience__img {
  text-align: center;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow-x: auto;
}

.experience__images-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.experience__image_1 {
  grid-column: span 2 / span 2;
}

.experience__image_2 {
  grid-column-start: 3;
}

.experience__image_3 {
  grid-column-start: 4;
}

.experience__image_4 {
  grid-row-start: 2;
}

.experience__image_5 {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

.experience__image_6 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.experience__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 200px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
}
