.explore {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.explore__content {
  display: flex;
  gap: 120px;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .explore__content {
    gap: 60px;
  }
}

.explore__images {
  position: relative;
  max-width: 480px;
  height: 400px;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .explore__images {
    padding-left: 30px;
  }
}

.explore__back-img {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
  z-index: 1;
  max-width: 350px;
}

@media screen and (max-width: 992px) {
  .explore__back-img {
    max-width: 300px;
  }
}

.explore__img {
  position: absolute;
  right: 5px;
  max-width: 350px;
  height: 400px;
  border-radius: 24px;
  object-fit: cover;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  top: 126px;
}

@media screen and (max-width: 992px) {
  .explore__img {
    max-width: 300px;
    height: 350px;
  }
}

.explore__right {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.explore__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

.explore__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 40px;
}

.explore__description {
  padding-bottom: 40px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.explore__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 200px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
}
