.explore {
  display: flex;
  align-items: center;
}

.explore__images {
  display: flex;
  align-items: center;
  gap: 40px 120px;
  padding-top: 100px;
}

.explore__images-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 480px;
  height: max-content;
  padding-top: 126px;
  padding-left: 130px;
}

.explore__back-img {
  // position: absolute;
  border-radius: 24px;
}

.explore__img {
  // position: absolute;
  border-radius: 24px;
}

.explore__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 580px;
}

.explore__title {
  color: var(--color-yellow);
  font-size: clamp(16px, 1.93vw, 24px);
  font-weight: 400;
  margin-bottom: 8px;
}

.explore__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: clamp(24px, 2.58vw, 32px);
  line-height: 1.2;
}

.explore__button {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  background-color: var(--color-white);
  width: 100%;
  width: 213px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
}
