.explore {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 390px) {
  .explore {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.explore__content {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  padding-left: 16px;
}

@media screen and (max-width: 992px) {
  .explore__content {
    gap: 60px;
  }
}

@media screen and (max-width: 576px) {
  .explore__content {
    gap: 45px;
  }
}

@media screen and (max-width: 450px) {
  .explore__content {
    gap: 30px;
  }
}

@media screen and (max-width: 390px) {
  .explore__content {
    flex-direction: column-reverse;
    gap: 0px;
  }
}

.explore__images {
  position: relative;
  max-width: 480px;
  height: 400px;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .explore__images {
    padding-left: 30px;
  }
}

@media screen and (max-width: 825px) {
  .explore__images {
    max-width: 371px;
  }
}

@media screen and (max-width: 725px) {
  .explore__images {
    max-width: 310px;
  }
}

@media screen and (max-width: 576px) {
  .explore__images {
    max-width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .explore__images {
    max-width: 165px;
  }
}

.explore__back-img {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
  z-index: 1;
  max-width: 350px;
}

@media screen and (max-width: 992px) {
  .explore__back-img {
    max-width: 300px;
  }
}

@media screen and (max-width: 825px) {
  .explore__back-img {
    max-width: 250px;
  }
}

@media screen and (max-width: 725px) {
  .explore__back-img {
    max-width: 180px;
  }
}

@media screen and (max-width: 576px) {
  .explore__back-img {
    max-width: 130px;
  }
}

@media screen and (max-width: 450px) {
  .explore__back-img {
    max-width: 100px;
  }
}

@media screen and (max-width: 390px) {
  .explore__back-img {
    display: none;
  }
}

.explore__img {
  position: absolute;
  right: 5px;
  max-width: 350px;
  height: 400px;
  border-radius: 24px;
  object-fit: cover;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  top: 126px;
}

@media screen and (max-width: 992px) {
  .explore__img {
    max-width: 300px;
    height: 350px;
  }
}

@media screen and (max-width: 825px) {
  .explore__img {
    max-width: 250px;
    height: 300px;
  }
}

@media screen and (max-width: 725px) {
  .explore__img {
    max-width: 200px;
    height: 220px;
  }
}

@media screen and (max-width: 576px) {
  .explore__img {
    max-width: 130px;
    height: 160px;
    top: 82px;
  }
}

@media screen and (max-width: 450px) {
  .explore__img {
    max-width: 100px;
    height: 120px;
    top: 50px;
  }
}

@media screen and (max-width: 390px) {
  .explore__img {
    display: none;
  }
}

.explore__img__mobile {
  display: none;
}

@media screen and (max-width: 390px) {
  .explore__img__mobile {
    display: flex;
    max-width: 358px;
    height: 416px;
  }
}

.explore__right {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 30px;

}

@media screen and (max-width: 825px) {
  .explore__right {
    padding-top: 32px;
  }
}

@media screen and (max-width: 450px) {
  .explore__right {
    padding-top: 0;
  }
}

.explore__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

@media screen and (max-width: 992px) {
  .explore__title {
    font-size: 17px;
    font-weight: 400;
  }
}

@media screen and (max-width: 725px) {
  .explore__title {
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (max-width: 576px) {
  .explore__title {
    font-size: 9px;
    font-weight: 400;
  }
}

@media screen and (max-width: 450px) {
  .explore__title {
    font-size: 7px;
    font-weight: 400;
  }
}

@media screen and (max-width: 390px) {
  .explore__title {
    font-size: 16px;
  }
}


.explore__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .explore__subtitle {
    font-size: 25px;
    font-weight: 800;
  }
}

@media screen and (max-width: 725px) {
  .explore__subtitle {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 576px) {
  .explore__subtitle {
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 450px) {
  .explore__subtitle {
    font-size: 11px;
    font-weight: 800;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 390px) {
  .explore__subtitle {
    font-size: 24px;
    padding-bottom: 24px;
  }
}

.explore__description {
  padding-bottom: 40px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .explore__description {
    font-size: 13px;
    font-weight: 400;
  }
}

@media screen and (max-width: 725px) {
  .explore__description {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 576px) {
  .explore__description {
    font-size: 8px;
    font-weight: 400;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 450px) {
  .explore__description {
    font-size: 7px;
    font-weight: 400;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 390px) {
  .explore__description {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
  }
}

.explore__button__mobile {
  display: flex;
  justify-content: center;
}


.explore__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 200px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
}

@media screen and (max-width: 992px) {
  .explore__button {
    font-size: 17px;
    font-weight: 400;
  }
}

@media screen and (max-width: 725px) {
  .explore__button {
    font-size: 13px;
    font-weight: 400;
    width: 150px;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .explore__button {
    font-size: 9px;
    font-weight: 400;
    width: 100px;
    height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .explore__button {
    font-size: 7px;
    font-weight: 400;
    width: 60px;
    height: 25px;
  }
}

@media screen and (max-width: 390px) {
  .explore__button {
    font-size: 16px;
    font-weight: 600;
    width: 176px;
    height: 44px;
  }
}