.footer {
  background-color: var(--color-button);
  min-height: 587px;
  height: 587px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: white;
  }
}

// @media screen and (max-width: 768px) {
//   .footer {
//     min-height: auto;
//     height: auto;
//   }

//   .footer__form-wrapper {
//     min-height: 150px;
//     top: -75px;
//   }

//   .footer__form {
//     flex-direction: column;
//     gap: 20px;
//     margin-bottom: -75px;
//   }

//   .footer__form-left,
//   .footer__right {
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-top: 20px;
//   }

//   .footer__form-action {
//     flex-direction: column;
//     gap: 12px;
//   }

//   .footer__form-input-wrapper {
//     width: 100%;
//   }

//   .footer__button {
//     width: 100%;
//   }

//   .footer__main-inner.container {
//     padding-top: calc(75px + 60px);
//     padding-bottom: 60px;
//   }
// }

.footer__form-wrapper {
  // padding-inline: 16px;
  // padding-left: 100px;
  // padding-right: 100px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  max-width: 1180px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-height: 196px;
  top: -98px;
}

.footer__form {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  border-radius: 6px;
  margin-bottom: -98px;
  // height: 196px;
}

@media screen and (max-width: 992px) {
  .footer__form {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__form {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    height: 150px;
  }
}

.footer__form-left {
  // max-width: 380px;
  width: 100%;
  padding-left: 100px;
  padding-top: 40px;
}

@media screen and (max-width: 992px) {
  .footer__form-left {
    padding-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .footer__form-left {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__form-title {
  color: var(--color-yellow);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

@media screen and (max-width: 992px) {
  .footer__form-title {
    font-size: 16px;
  }
}

.footer__form-subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  // font-size: 26px;
  font-weight: 800;
}

@media screen and (max-width: 992px) {
  .footer__form-subtitle {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .footer__form-subtitle {
    font-size: 24px;
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 536px;
  padding-right: 100px;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }
}

.footer__form-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px 18px;
}

.footer__form-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.footer__form-label {
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.footer__form-input {
  display: flex;
  border: none;
  padding: 12px 16px;
}

.footer__button {
  border-radius: 4px;
  font-size: 12px;
  background-color: var(--color-button);
  width: 100%;
  width: 240px;
  height: 44px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
}

.footer__main {
}

// @media screen and (max-width: 768px) {
//   .footer__main {
//     height: 100px;
//   }
// }

.footer__main-inner {
  &.container {
    padding-top: calc(98px + 80px);
    padding-bottom: 80px;
  }
}

// @media screen and (max-width: 768px) {
//   .footer__main-inner.container {
//     padding-top: calc(150px + 80px);
//   }
// }

.footer__info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 50px;
  color: white;
  background-color: var(--color-button);
  width: 100%;
  background-position: center;
  background-size: cover;
  // padding-top: 80px;
}

.footer-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 17px;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

.footer__description p {
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 80px;
  padding-right: 24px;
  max-width: 456px;
}

.footer__contacts {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
}

.footer__contacts a {
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.footer__icons {
  display: flex;
  gap: 16px;
}

.footer__icons-link {
  padding: 6px;
  border-radius: 50%;
}

.footer__services {
  max-width: 280px;
  width: 100%;
  height: 234px;
}

.footer__services-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

.footer__services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.footer__articles {
  max-width: 280px;
  width: 100%;
  height: 200px;
}

.footer__about {
  max-width: 480px;
}

.footer__articles-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

.footer__articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.footer__extra {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 66px;
  padding-top: 24px;
  // display: flex;
  // justify-content: center;
}

.footer__extra-inner {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__copyright {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer__privacy-policy {
  text-decoration: underline;
  width: 100%;
  // max-width: 296px;
  display: flex;
  justify-content: flex-end;
}
