.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../../assets/svg/header_bg.svg) no-repeat;
  width: 100%;
  height: 985px;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1220px) {
  .hero {
    height: 900px;
  }
}

@media screen and (max-width: 1110px) {
  .hero {
    height: 980px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 860px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 212px;
  text-decoration: none;
  padding-top: 16px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px 40px 0 40px;
}

@media screen and (max-width: 1220px) {
  .header {
    // display: flex;
    // gap: 175px;
    // justify-content: flex-start;
    // padding-left: 35px;
  }
}

@media screen and (max-width: 1110px) {
  .header {
    gap: 75px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    gap: 70px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    gap: 37px;
    padding-left: 21px;
  }
}

.header_logo img {
  max-width: 137px;
  max-height: 72px;
}

@media screen and (max-width: 1250px) {
  .header__logo img{
    max-width: 120px;
    height: 63px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .header__logo {
    max-width: 70px;
    max-height: 65px;
  }
}

.header__actions {
  display: flex;
  column-gap: 49px;
  color: var(--color-white);
}

@media screen and (max-width: 1250px) {
  .header__actions {
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__actions {
    column-gap: 0px;
  }
}

.header_nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.header_nav_list {
  display: flex;
  column-gap: 24px;
}

@media screen and (max-width: 1250px) {
  .header_nav_list {
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header_nav_list {
    gap: 10px;
  }
}

.header_nav_link {
  font-size: 18px;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

@media screen and (max-width: 1250px) {
  .header_nav_link {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header_nav_link {
    font-size: 13px;
  }
}

@media screen and (max-width: 576px) {
  .header_nav_link {
    font-size: 10px;
  }
}

.button-header {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 157px;
  height: 44px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  .button-header {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .button-header {
    font-size: 13px;
    width: 120px;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .button-header {
    font-size: 10px;
    width: 95px;
    height: 30px;
  }
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}

.registration__title {
  font-family: "NextArt-Bold", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: var(--color-white);
  // margin-bottom: 284px;
  // margin-top: 551px;
  // margin-left: 370px;
}

@media screen and (max-width: 1250px) {
  .registration__title {
    padding-left: 50px;
    font-size: 45px;
    max-width: 1110px;
  }
}

@media screen and (max-width: 768px) {
  .registration__title {
    padding-left: 33px;
    font-size: 35px;
    max-width: 1110px;
  }
}

@media screen and (max-width: 576px) {
  .registration__title {
    padding-left: 16px;
    font-size: 25px;
    max-width: 1110px;
  }
}

.registration__form {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 82px;
  border-radius: 10px;
  max-width: 1180px;
  width: 100%;
  height: 161px;
  backdrop-filter: blur(6px);
  padding-left: 43px;
  padding-right: 42px;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  .registration__form {
    gap: 15px;
    padding-left: 25px;
    height: 130px;
  }
}

@media screen and (max-width: 1110px) {
  .registration__form {
    padding-left: 35px;
  }
}

@media screen and (max-width: 768px) {
  .registration__form {
    padding-left: 33px;
  }
}

@media screen and (max-width: 576px) {
  .registration__form {
    padding-left: 16px;
  }
}

.registration__button {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  width: 100%;
  width: 213px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  // background: transparent;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .registration__button {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .registration__button {
    font-size: 10px;
    height: 39px;
  }
}

@media screen and (max-width: 390px) {
  .registration__button {
    display: flex;
    padding-left: 16px;
    padding-bottom: 50px;
    font-size: 15px;
  }
}

.registration__input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.registration__button_hole {
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  border: 1px solid white;
  width: 100%;
  width: 270px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  background: transparent;
  color: white;
  padding-left: 16px;
}

@media screen and (max-width: 1250px) {
  .registration__button_hole {
    width: 260px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1110px) {
  .registration__button_hole {
    width: 225px;
  }
}

@media screen and (max-width: 768px) {
  .registration__button_hole {
    width: 165px;
    font-size: 12px;
    padding-left: 7px;
  }
}

@media screen and (max-width: 576px) {
  .registration__button_hole {
    width: 140px;
    font-size: 10px;
    padding-left: 7px;
    height: 37px;
  }
}

.registration__label {
  color: var(--color-white);
  padding-left: 8px;
  font-size: 14px;
  font-family: "NunitoSans-Regular", sans-serif;
}

@media screen and (max-width: 768px) {
  .registration__label {
    font-size: 11px;
  }
}

@media screen and (max-width: 576px) {
  .registration__label {
    font-size: 9px;
  }
}

.shtrihi {
  display: none;
}

@media screen and (max-width: 390px) {
  .shtrihi {
    display: flex;
  }
}
