.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../../assets/svg/header_bg.svg) no-repeat;
  width: 100%;
  height: 985px;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 900px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 860px;
  }
}

@media screen and (max-width: 390px) {
  .hero {
    height: 600px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 212px;
  text-decoration: none;
  padding-top: 16px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px 40px 0 40px;
}

@media screen and (max-width: 1200px) {
  .header {
    gap: 75px;
  }
}

@media screen and (max-width: 390px) {
  .header {
    padding: 16px 20px 0 20px;
  }
}

.header_logo img {
  max-width: 137px;
  max-height: 72px;
}

@media screen and (max-width: 1200px) {
  .header__logo img {
    max-width: 120px;
    height: 63px;
  }
}

@media screen and (max-width: 390px) {
  .header__logo img {
    max-width: 84px;
    height: 44px;
  }
}

.header__actions {
  display: flex;
  column-gap: 49px;
  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .header__actions {
    column-gap: 20px;
  }
}

.header_nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.header_nav_list {
  display: flex;
  column-gap: 24px;
}

@media screen and (max-width: 1200px) {
  .header_nav_list {
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header_nav_list {
    display: none;
  }
}

.header_nav_link {
  font-size: 18px;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

@media screen and (max-width: 1200px) {
  .header_nav_link {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .header_nav_link {
    font-size: 12px;
  }
}

.button-header {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 157px;
  height: 44px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .button-header {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
}

@media screen and (max-width: 992px) {
  .button-header {
    font-size: 13px;
    width: 120px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .button-header {
    display: none;
  }
}

.registration {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 41px;
}

@media screen and (max-width: 768px) {
  .registration {
    gap: 0px;
  }
}

.registration__title {
  font-family: "NextArt-Bold", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .registration__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
    max-width: 1110px;
  }
}

@media screen and (max-width: 768px) {
  .registration__title {
    padding-right: 16px;
    font-size: 30px;
    max-width: 1110px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 390px) {
  .registration__title {
    font-size: 28px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 29px;
  }
}

.registration__form {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 82px;
  border-radius: 10px;
  max-width: 1180px;
  width: 100%;
  height: 161px;
  backdrop-filter: blur(6px);
  padding-left: 43px;
  padding-right: 42px;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .registration__form {
    gap: 15px;
    padding-left: 25px;
    height: 130px;
  }
}

@media screen and (max-width: 992px) {
  .registration__form {
    padding-left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .registration__form {
    display: none;
  }
}

.registration__button {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  width: 100%;
  width: 213px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  // background: transparent;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}

@media screen and (max-width: 992px) {
  .registration__button {
    font-size: 12px;
  }
}

.button__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .button__mobile {
    display: flex;
    padding-left: 16px;
    padding-bottom: 50px;
  }
}

.registration__button__mobile {
  display: flex;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  width: 100%;
  width: 213px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}

.registration__input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.registration__button_hole {
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  border: 1px solid white;
  width: 100%;
  width: 270px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  background: transparent;
  color: white;
  padding-left: 16px;
}

@media screen and (max-width: 1200px) {
  .registration__button_hole {
    width: 260px;
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  .registration__button_hole {
    width: 175px;
    font-size: 12px;
  }
}

.registration__label {
  color: var(--color-white);
  padding-left: 8px;
  font-size: 14px;
  font-family: "NunitoSans-Regular", sans-serif;
}

@media screen and (max-width: 768px) {
  .registration__label {
    font-size: 8px;
  }
}

.shtrihi {
  display: none;
}

@media screen and (max-width: 768px) {
  .shtrihi {
    display: flex;
    height: 30px;
    width: 30px;
  }
}
