.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../../assets/svg/header_bg.svg) no-repeat;
  width: 100%;
  height: 985px;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 850px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 212px;
  text-decoration: none;
  padding-top: 16px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .header {
    display: flex;
    gap: 175px;
    justify-content: flex-start;
    padding-left: 35px;
  }
}

.header_logo img {
  max-width: 137px;
  max-height: 72px;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    max-width: 110px;
  }
}

.header__actions {
  display: flex;
  column-gap: 49px;
  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .header__actions {
    column-gap: 15px;
  }
}

// @media screen and (max-width: 768px) {
//   .header__actions {
//     // display: none;
//   }
// }

.header_nav {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .header_nav {
    width: none;
  }
}

.header_nav_list {
  display: flex;
  column-gap: 24px;
}

@media screen and (max-width: 1200px) {
  .header_nav_list {
    column-gap: 23px;
  }
}

.header_nav_link {
  font-size: 18px;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

@media screen and (max-width: 1200px) {
  .header_nav_link {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header_nav_link {
    column-gap: 12px;
  }
}

.button-header {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 157px;
  height: 44px;
  justify-content: space-around;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}

.registration__title {
  font-family: "NextArt-Bold", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: var(--color-white);
  // margin-bottom: 284px;
  // margin-top: 551px;
  // margin-left: 370px;
}

@media screen and (max-width: 1200px) {
  .registration__title {
    padding-left: 50px;
    font-size: 45px;
    max-width: 1110px;
  }
}

.registration__form {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 82px;
  border-radius: 10px;
  max-width: 1180px;
  width: 100%;
  height: 161px;
  backdrop-filter: blur(6px);
  padding-left: 43px;
  padding-right: 42px;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .registration__form {
    gap: 15px;
    padding-left: 25px;
    height: 130px;
  }
}

@media screen and (max-width: 390px) {
  .registration__input-wrapper {
    display: none;
  }
}

.registration__button {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  width: 100%;
  width: 213px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  // background: transparent;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}

@media screen and (max-width: 390px) {
  .registration__button {
    display: flex;
    padding-left: 16px;
    padding-bottom: 50px;
    font-size: 15px;
  }
}

.registration__input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.registration__button_hole {
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  border: 1px solid white;
  width: 100%;
  width: 270px;
  height: 52px;
  justify-content: space-around;
  align-items: center;
  font-family: "NextArt-Bold", sans-serif;
  background: transparent;
  color: white;
  padding-left: 16px;
}

@media screen and (max-width: 1200px) {
  .registration__button_hole {
    width: 260px;
    font-size: 15px;
  }
}

.registration__label {
  color: var(--color-white);
  padding-left: 8px;
  font-size: 14px;
  font-family: "NunitoSans-Regular", sans-serif;
}

.shtrihi {
  display: none;
}

@media screen and (max-width: 390px) {
  .shtrihi {
    display: flex;
  }
}