.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../../assets/svg/header_bg.svg) no-repeat;
  width: 100%;
  height: 985px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 212px;
  text-decoration: none;
  padding-top: 16px;
  width: 100%;
}

.header_logo img {
  width: 137px;
  height: 72px;
}

.header__actions {
  display: flex;
  column-gap: 49px;
  color: var(--color-white);
}

.header_nav {
  display: flex;
  align-items: center;
  page: 24px;
}

.header_nav_list {
  display: flex;
  column-gap: 24px;
}

.header_nav_link {
  font-size: 18px;
}

.button-header {
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 157px;
  height: 44px;
  justify-content: space-around;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}

.registration__title {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--color-white);
  // margin-bottom: 284px;
  // margin-top: 551px;
  // margin-left: 370px;
}

.registration__bg {
  gap: 24px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 82px;
  border-radius: 10px;
  width: 1180px;
  height: 161px;
}

.registration__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
}




.registration__input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.select-wrapper {
  position: relative;
  display: inline;
}
