.programs {
  display: flex;
  padding-top: 100px;
  padding-bottom: 80px;
}

.programs__content {
  display: flex;
  flex-wrap: nowrap;
  gap: 90px;
}

.programs__left {
  max-width: 580px;
  height: 591px;
  width: 100%;
}

.programs__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

.programs__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 40px;
}

.programs__description {
  padding-bottom: 40px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 40px;
}

.programs__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 236px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
  margin-top: 40px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.programs__item {
  position: relative;
  padding-left: 66px;
  gap: 16px;
}

.programs__icon {
  position: absolute;
  right: calc(100% - 50px);
  top: 50%;
  transform: translateY(-50%);
  max-width: 50px;
  height: 50px;
}

.programs__item-title {
    font-size: 18px;
    margin-bottom: 4px;
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-weight: 700;
   font-weight: bold;
}


.programs__images {
  max-width: 510px;
  height: 510px;
  width: 100%;
}
