.programs {
  display: flex;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #F3F5F4;
}

.programs__content {
  display: flex;
  flex-wrap: nowrap;
  gap: 90px;
}

@media screen and (max-width: 992px) {
  .programs__content {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

.programs__left {
  // max-width: 580px;
  // height: 591px;
  width: 100%;
}

.programs__title {
  color: var(--color-yellow);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "NunitoSans-SemiBold", sans-serif;
}

@media screen and (max-width: 992px) {
  .programs__title {
    font-size: 17px;
  }
}

@media screen and (max-width: 390px) {
  .programs__title {
    font-size: 16px;
  }
}

.programs__subtitle {
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .programs__subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 390px) {
  .programs__subtitle {
    font-size: 24px;
    padding-bottom: 32px;
  }
}

.programs__description {
  padding-bottom: 40px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .programs__description {
    font-size: 13px;
  }
}

@media screen and (max-width: 390px) {
  .programs__description {
    font-size: 16px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 390px) {
  .programs__button__mobile {
    display: flex;
    justify-content: center;
  }
}

.programs__button {
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  width: 100%;
  width: 236px;
  height: 52px;
  font-family: "NunitoSans-SemiBold", sans-serif;
  color: white;
  margin-top: 40px;
}

@media screen and (max-width: 992px) {
  .programs__button {
    font-size: 16px;
    width: 200px;
    height: 47px;
  }
}

@media screen and (max-width: 390px) {
  .programs__button {
    width: 212px;
    height: 44px;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 390px) {
  .programs__list {
    gap: 32px;
  }
}

.programs__item {
  position: relative;
  padding-left: 66px;
  gap: 16px;
}

.programs__icon {
  position: absolute;
  right: calc(100% - 50px);
  top: 50%;
  transform: translateY(-50%);
  max-width: 50px;
  height: 50px;
}

.programs__item-title {
  font-size: 18px;
  margin-bottom: 4px;
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-weight: 700;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .programs__item-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 390px) {
  .programs__item-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .programs__item-p {
    font-size: 13px;
  }
}

@media screen and (max-width: 390px) {
  .programs__item-p {
    font-size: 14px;
  }
}

.programs__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-height: 510px;
  padding-top: 120px;
}

@media screen and (max-width: 992px) {
  .programs__images {
    max-height: 835px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .programs__images {
    display: none;
  }
}
