* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 390px) {
  .container {
    max-width: 100%;
  }
}

:root {
  --color-white: #ffffff;
  --color-button: #1a3e3e;
}
