* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-button: #1a3e3e;
  --color-yellow: #F2BE22;
;
}

@font-face {
  font-family: 'NextArt-Bold';
  src: url('../assets/fonts/NEXTART-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../assets/fonts/NunitoSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../assets/fonts/NunitoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
